mixin element_content(element)
  each item in element.content
    if item.element === 'doc'
      include ./doc.pug
    else if item.element === 'descriptor'
      include ./descriptor.pug
      
mixin element_attributes(element)
  if element.attributes.length > 0
    dl
      each attribute in element.attributes.content
        dt.attribute-key= attribute.key.toValue()
        dd.attribute-value
          if attribute.key.toValue() === 'href'
            a(href=attribute.value.toValue())= attribute.value.toValue()
          else
            = attribute.value.toValue()
